body {
    margin: 0px;
    background-color: #f2f2f2;
}

.header {
    height: 70px;
    width: 100%;
    background-color: #2875f7;
    box-shadow: 0px 4px 5px #00000070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.header > .logo-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header > .logo-nav-container > .sidenav-btn > span {
    color: white;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.header > .logo-nav-container > .sidenav-btn > span > i {
    transition: all 0.3s ease-in-out;
}
.header > .logo-nav-container > .sidenav-btn > span > i:hover {
    transform: scale(1.1);
}
.header > .logo-nav-container > .logo-container > span {
    color: white;
    font-family: "Indie Flower", cursive;
    font-size: 48px;
    padding: 5px;
    margin: 10px;
    text-shadow: 2px 2px 4px #00000070;
}
.header > #profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.header > #profile-container > .username-span {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    /* font-weight: bold; */
    font-size: large;
    margin: 3px 10px;
    cursor: default;
}
.header > #profile-container > .logout-span {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    /* font-weight: bold; */
    font-size: large;
    margin: 3px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.header > #profile-container > .logout-span:hover {
    text-shadow: 0px 0px 4px #ffffff;
}
.root {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 70px);
}
.root > .sidenav {
    transition: all 0.3s ease-in-out;
    width: 52px;
    max-width: 52px;
    height: 100%;
    box-shadow: 2px 0px 5px #00000040;
    background-color: #f2f2f2;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.root > .sidenav.open {
    width: 250px;
    max-width: 250px;
}

.sidenav .selector.open {
    width: 4px;
    min-width: 4px;
    display: block;
    min-height: 54px;
    background-color: #2875f7;
}
.sidenav .selector {
    /* width: 5px;
    min-width: 5px;
    display: block;
    min-height: 54px;
    background-color: #2875f7; */
}
.sidenav .icon {
    width: 24px;
    height: 24px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.sidenav .list-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto;
}
.sidenav .list-div.open {
    box-shadow: 0px 0px 4px #00000040;
}
.sidenav .list-div:hover {
    /* background-color: #00000035; */
    box-shadow: 2px 2px 4px #00000070;
    cursor: pointer;
}
.sidenav .list-div > span {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: large;
}
.main-content {
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.main-content.open {
    width: calc(100% - 250px);
}
#display-content {
    width: -webkit-fill-available;
    height: 100%;
    padding: 10px;
    /* margin-left: 10px; */
}
#display-content > h3 {
    font-family: "Architects Daughter", cursive;
}
#display-content .task-content.daily > .task-div.daily {
    border-bottom: 1px solid #80808063;
    padding: 3px 10px;
    /* margin: 5px; */
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#display-content .task-content.daily {
    overflow: auto;
    height: calc(100% - 80px);
}
#display-content .task-content.daily > .task-div.daily:hover {
    box-shadow: 4px 4px 4px #00000070;
    background-color: white;
    border-radius: 5px;
}
#display-content .task-content.daily > .task-div.daily > .task-span.daily {
    font-family: "Architects Daughter", cursive;
    font-size: 18px;
}
#display-content .task-content.daily > .task-div.daily > .task-delete {
    width: 20px;
    height: 20px;
    padding: 6px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}
#display-content .task-content.daily > .task-div.daily > .task-delete:hover {
    box-shadow: 4px 4px 5px #00000070;
    border-radius: 5px;
}

#display-content .task-content.weekly {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    font-family: "Architects Daughter", cursive;
}
#display-content .task-content.weekly > .week-div {
    height: calc(100% - 20px);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid #00000020;
    border-right: 1px solid #00000020;
    overflow: auto;
}
#display-content .task-content.weekly > .week-div > .week-date-span {
    margin: 15px 5px 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-bottom: 1px solid grey;
}

#display-content .task-content.weekly > .week-div > .task-div.weekly {
    transition: all 0.3s ease-in-out;
    padding: 5px;
    border-bottom: 1px solid #00000020;
    margin: 0px 5px;
}
#display-content .task-content.weekly > .week-div > .task-div.weekly:hover {
    box-shadow: 2px 2px 4px #00000070;
    border-radius: 5px;
    cursor: pointer;
}
#display-content .task-content.weekly > .week-div > .task-div.weekly > .task-span.weekly {
    font-family: "Architects Daughter", cursive;
    font-size: 16px;
}
#display-content .monthly-task-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
#display-content .monthly-task-table > tbody > tr {
    height: calc(100% / 6);
    overflow: hidden;
    display: table-row;
}
#display-content .monthly-task-head {
    border-bottom: 1px solid grey;
}
#display-content .monthly-task-head .days {
    border-bottom: 1px solid grey;
}
#display-content .monthly-task-table .monthly-date-root {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#display-content .monthly-task-table .monthly-date-cell {
    border: 1px solid;
    border-image: linear-gradient(#f2f2f2, grey, #f2f2f2);
    border-image-slice: 1;
    padding: 5px;
}
#display-content .monthly-task-table .monthly-date {
    width: calc(100% - 6px);
    padding: 3px;
    background-color: #d2d2d2;
}
#display-content .monthly-task-table .monthly-date.today {
    background-color: #2875f7;
    color: white;
}
#display-content .monthly-task-table .task-list {
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    width: 100%;
}
#display-content .monthly-task-table .task-list .task-div.monthly {
    border-radius: 5px;
    padding: 3px 5px;
}
#display-content .monthly-task-table .task-list .task-div.monthly:hover {
    box-shadow: 2px 2px 3px #00000070;
    cursor: pointer;
}
.backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    display: none;
}
.backdrop.open {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00000090;
    font-family: "Architects Daughter", cursive;
}
.backdrop > .backdrop-content-container {
    /* width: 30%; */
    /* height: 50%; */
    background-color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.backdrop button {
    background-color: transparent;
    font-family: "Architects Daughter", cursive;
    outline: none;
    border: 2px solid #2875f7;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px;
}
.backdrop button:hover {
    background-color: #2875f7;
    font-weight: bold;
    color: white;
}
.backdrop .btns-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.backdrop button:disabled {
    background-color: transparent;
    font-weight: bold;
    color: #00000050;
    border: 2px solid #00000050;
    cursor: not-allowed;
}
.backdrop .inputs-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.backdrop .inputs-div .date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.backdrop .inputs-div #edit-task-date {
    outline: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #00000060;
    font-family: "Architects Daughter", cursive;
    background: none;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
}
.backdrop .inputs-div #edit-task-date:hover {
    /* color: #2875f7; */
    border-bottom: 1px solid #2875f7;
}
.backdrop .inputs-div textarea {
    outline: none;
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #2875f7;
    border-radius: 5px;
    font-family: "Architects Daughter", cursive;
    font-size: 16px;
}
.table-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    margin-right: 10px;
    user-select: none;
}
.table-container > h3 {
    font-family: "Architects Daughter", cursive;
}
.table-container > .new-task-btn {
    background-color: transparent;
    border: 2px solid #2875f7;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    padding: 5px 10px;
    font-family: "Architects Daughter", cursive;
    font-size: 16px;
}
.table-container > .new-task-btn:hover {
    background-color: #2875f7;
    color: white;
}
.table-container > .new-task-btn:active {
    background-color: #074dc3;
    color: #ecf3fe;
    border: 2px solid #074dc3;
}
.days {
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
    text-align: center;
    font-family: "Architects Daughter", cursive;
}
.date {
    transition: all 0.3s ease-in-out;
    text-align: center;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid transparent;
    width: 26px;
    height: 30px;
}
.date.selected {
    border: 2px solid #2875f7 !important;
    background-color: #2875f790;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 4px #00000070;
}
.date:hover {
    background-color: #2875f790;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 4px #00000070;
    border: 0px;
}
.today {
    background-color: #2875f7;
    color: #f2f2f2;
    font-weight: bold;
}
.navigation-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-btns-container > input {
    background-size: contain;
    height: 35px;
    padding: 10px 0px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    border: 0px;
    outline: none;
    margin: 10px;
    border-radius: 5px;
}
.navigation-btns-container > input:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 4px black;
}

.navigation-btns-container > input#today {
    font-family: "Architects Daughter", cursive;
    width: fit-content;
    font-size: 15px;
    padding: 7px 10px 10px 10px;
}
.navigation-btns-container > input#previous {
    background-image: url("../assets/icons/chevron-left-solid.svg");
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.navigation-btns-container > input#next {
    background-image: url("../assets/icons/chevron-right-solid.svg");
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}
.form-inline .form-control {
    background-color: #f2f2f2;
    outline: none;
    border: 0px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.form-inline .form-control:hover {
    box-shadow: 2px 2px 4px #00000070;
}

.form-inline .form-control::-webkit-scrollbar {
    width: 10px;
}

.form-inline .form-control::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}
.form-inline .form-control::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
